.container {
  width: 1000px;
  height: 400px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.gallery {
  display: flex;

  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;

  top: 0;

  z-index: 1000;

  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;

  outline: 1px solid yellow;
}

.hidden {
  display: none;
}
